<div class="login-wrapper" fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title class="CardTitle">SIGN UP</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-raised-button color="primary">Facebook</button>&NonBreakingSpace;
        <button mat-raised-button  color="warn" style="float: right !important;">Google</button>
    </mat-card-content>
        <mat-card-header>
        <mat-card-title  class="CardTitle">OR</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="ConfirmPassword">
          </mat-form-field>
          <button mat-raised-button color="warn">LogIn</button>
          <mat-card-title class="CardFooter">Yes,I have a BookMyShow Account <a href="/login">SIGN IN</a></mat-card-title>
          <mat-card-title class="CardFooter">I'm new to BookMyShow <a href="/register">Create Account</a></mat-card-title>
   
        </mat-card-content>
       
        <mat-card-footer>
                 </mat-card-footer>
      </form>
    </mat-card>
  </div>